/* a {
  color: red !important;
}

.a_one {
  color: blue !important;
}

.a_two {
  color: green !important;
} */

body {
  min-width: 320px;
}

.join2_header {
  text-align: center;
  margin-top: 40px;
}
.join2_title {
  font-size: 26px;
  font-weight: 700;
}
.join2_cont {
  max-width: 640px;
  margin: 0 auto;
  color: #1c1c1c;
  padding: 65px 20px 50px;
}
.step_nav {
  padding: 0 0 58px;
  display: flex;
  justify-content: center;
}
.step_nav_ul {
  display: flex;
  align-items: center;
}
.step_nav li {
  flex: none;
  font-size: 37px;
  font-weight: 700;
  letter-spacing: -2.4px;
  color: #e5e5e5;
  position: relative;
  line-height: 1;
}
.step_nav li.selected {
  color: #1c1c1c;
}
.step_nav .selected:after {
  content: "";
  width: 9px;
  height: 9px;
  background: #e43d30;
  border-radius: 10px;
  position: absolute;
  top: -17px;
  left: calc(50% - 5px);
}
.step_nav li.selected + li:before,
.step_nav li.complete + li:before {
  opacity: 1;
}
.step_nav li + li:before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(./img/icon_arrow_right_03.svg) 52% 50%/10px no-repeat;
  opacity: 0.15;
}
.title_2 {
  font-size: 22px;
  line-height: 1.39;
  font-weight: 700;
}
.title_2_text {
  font-size: 14px;
  font-weight: 300;
  color: #000;
  margin-top: 10px;
}
.terms_box {
  margin-top: 40px;
}
/* .inp_check_all {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-image: url(./img/icon_check_01_off.svg);
} */
.label {
  font-size: 18px;
  display: flex;
}
span.label:before {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fff url(./img/icon_check_01_off.svg) 55% 50%/14px 14px no-repeat;
  content: "";
  width: 22px;
  height: 22px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.terms_list {
  padding: 12px 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
}
.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
}
.inp_check_type1 {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.inp_check_type1 > .label:before {
  width: 16px;
  height: 20px;
  border: 0;
  margin-right: 12px;
  background: #fff url(./img/icon_check_01_off.svg) 50% 50% no-repeat;
  margin-left: 5px;
}
.inp_check_type1 > .label {
  font-size: 16px;
  line-height: 20px;
}
em {
  color: #e53e30 !important;
  font-style: normal;
  font-size: 14px;
}
.terms_list .more button {
  border: 0;
  font-size: 13px;
  font-weight: 600;
  color: #999999;
  border-bottom: 1px solid #999999;
  line-height: 1.4;
  background: #fff;
  box-sizing: border-box;
  padding: 0;
}
.txt-imp {
  margin-top: 30px;
  display: block;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  background: url(./img/icon_error.svg) 0 1px/20px no-repeat;
  /* word-break: keep-all; */
}
.btn-wrap_fix {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
}
.btn-type-1 {
  font-size: 16px;
  border: solid 1px #ccc;
  min-height: 55px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  border-radius: 2px;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: -0.6px;
  min-height: 50px;
  background: #fff;
}
.btn-type-2 {
  font-size: 16px;
  border: solid 1px #ccc;
  min-height: 55px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  border-radius: 2px;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: -0.6px;
  min-height: 50px;
  color: #ffffff;
  background: #1d1d1d;
  margin-left: 20px;
}
